.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 0 0 0;
  max-width: 480px;
  margin: auto;
}

.link {
  padding: 0 0 0 6px;
  transition: all 0.4s ease-in-out;
}
.link:hover {
  color: #ffffff;
  opacity: 0.7;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form svg {
  margin: 0 0 0 190px;
}

.form div {
  width: 100%;
}

.error {
  color: red;
  margin: 0;
  padding-top: 30px;
}

.ring {
  margin: 0 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px dashed rgb(133, 133, 173);
  animation: rotate 4s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
