.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  gap: 10px;
  }
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  height: calc(100vh - 324px);
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

.list::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.list::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.total {
  display: flex;
  justify-content: flex-end;
}

.sum {
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  display:flex;
justify-content: center;
align-items: center;
}
.buninitial {
  padding: 40px 30px;
  outline: 3px outset #8585AD;
   border-radius: 2rem;
}

.maininitial {
  margin: 2px;
  padding: 0px 30px;
  outline: 3px outset #8585AD;
   border-radius: 2rem;
}

.listmain {
  height: calc(100vh - 450px);
}