.page {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    margin: auto;
    padding: 0;
    background-color: #131316;
}

.content {
    display: flex;
    justify-content: center;
    margin: auto;
}

.ring{
    margin: 300px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px dotted #8585AD;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {

    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }