.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 480px;
  margin: auto;
  padding-top: 200px;
}

.link {
  padding: 0 0 0 10px;
}
.link:hover {
  color: #ffffff;
  transition: all 0.4s ease-in-out;
}

.form {
  width: 100%;
}

.form div {
  width: 100%;
}

.form svg {
  margin: 0 0 0 190px;
}
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
