.title{
  margin-top: 56px;
  margin-bottom: 20px;
}

.container {
  display: flex;
}

.tabs {
  max-height: 716px;
  max-width: 608px;
  overflow-y: scroll;
  scrollbar-color: #8585ad;
  scrollbar-width: thin;
}