.header {
  width: 100%;
  background-color: #1c1c21;
}

.container {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 30% 35% 30%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-self: start;
}

.list__item {
  display: flex;
  column-gap: 8px;
}

.logo {
  justify-self: center;
}

.profile {
  display: flex;
  outline: none;
  text-decoration: none;
  justify-self: end;
}
